* {
    margin: 0;
    padding: 0;
}

/* header related styles */
.nav-container {
    padding: 10px;
   background-color: rgb(73, 73, 73);
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;   
}
.nav-img {
    width: 170px;
   
}
.l {
    margin: 10px;
    font-size: 18px;
}
.list {
    list-style: none;
    display: flex;
   
}
/* main related styles */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 100vh;
    border: 1px solid black;
    background-image: url('images/background.png'),linear-gradient(45deg,#2e2e2e,#000);
    color: white;
    
}
.banner-text {
    padding: 0 60px;
}

.banner-title {
    font-size: 55px;
}
.banner-description {
    font-size: 18px;
    padding: 10px 0;
}
.btn {
    padding: 10px 20px;
    color: white;
    background-color: rgb(248, 45, 18);
    border: 0;
    
}
.img {
    width: 300px;
    padding-right: 40px;
}
